<div class="col-md-3">
  <%= render 'menu' %>
</div>
<div class="col-md-9">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1> show</h1>
      <%= controller_name %>
    </div>
  </div>
</div>
